@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

::selection {
    background-color: rgb(26 157 65);
    color: #fff;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-emerald-500
}

.input {
    @apply w-full px-3 py-2 my-2 rounded-md dark:bg-neutral-800 outline-none transition-all border dark:border-neutral-700 border-neutral-400 focus:border-emerald-500 focus:ring-1 focus:ring-emerald-200
}

.input:invalid:visited {
    @apply w-full px-3 py-2 my-2 rounded-md dark:bg-neutral-800 outline-none transition-all border border-red-500 focus:ring-1 focus:ring-red-400
}

.btn {
    @apply px-4 py-2 my-3 rounded-md dark:bg-neutral-800 outline-none transition-all border border-transparent bg-emerald-500 text-white focus:ring-1 focus:ring-emerald-300
}