@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: rgb(127, 73, 255);
    color: #fff;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-violet-500
}

.input {
    @apply w-full px-3 py-1 my-3 rounded-md dark:bg-neutral-800 outline-none transition-all border dark:border-neutral-700 border-neutral-400 focus:border-violet-500 focus:ring-1 focus:ring-violet-200
}

.input:invalid:visited {
    @apply w-full px-3 py-1 my-3 rounded-md dark:bg-neutral-800 outline-none transition-all border border-red-500 focus:ring-1 focus:ring-red-400
}